/* HOME
----------------------------------*/
@import url("core.css");


/* ABOUT
----------------------------------*/
#about {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: none;
}
#about .container {
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  background: white;
  -webkit-box-shadow: 0 0px 5px #888;
  -moz-box-shadow: 0 0px 5px #888;
  line-height: 20px;
}

/* FOOTER
----------------------------------*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  font-size: 12px;
  color: gray;
  -webkit-box-shadow: 0 0px 5px #888;
  -moz-box-shadow: 0 0px 5px #888;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer li {
  float: left;
  margin: 0 20px;
}