/* HOME
----------------------------------*/
body {
	font-family: "helvetica neue", Helvetica, arial, sans-serif;
	background: #efefef;
	margin: 0;
}
#tagline {
  display: block;
  text-align: center;
  margin: 10px 0;
  color: #bbb;
  font-size: 10px;
}
a {
	color: #4096EE;
}
.toolbar {
	width:  230px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}
.toolbar a {
	padding: 2px 5px;
	font-size: 15px;
	text-decoration: none;
}
.toolbar a:hover {
	background: #4096EE;
	color: white;
	
	-webkit-border-radius: 2px;
	border-top: 1px solid #1063b8;
}
#hatchForm {
	width: 230px;
	background:  white;
	margin: 0 auto;
	padding:  20px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 5px #888
}
#hatchForm input {
	font-size: 20px;
	padding: 5px;
	-webkit-border-radius: 2px;
	border: 2px solid silver;
	background: white;
	margin: 2px 0;
	color: #555;
}
#hatchForm input:focus {
	border-color: #0096ce;
	outline: 0;
	color: #222;
}
#hatchForm label {
	display:  block;
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}
#hatchForm ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#hatchForm li {
	margin-top:  10px;
}
input#secure {
	border-color: #efefef;
}
input#secure:focus {
	border-color: #99cc33;
}
.clearinput {
  cursor: hand;
	background: #efefef;
	padding: 2px 8px 4px 8px;
	-webkit-border-radius: 4px;
	color: gray;
	float: right;
	position: relative;
	margin-top: -33px;
	margin-right: 10px;
	text-decoration: none;
	display: none;
}
.clearinput:hover {
 background: #ddd; 
}

/* SETTINGS
----------------------------------*/
#settings {
	background: #444;
	border-bottom: 4px solid #666;
	color: white;
	position: relative;
	top: 0;
	left: 0;
	overflow: auto;
	padding: 20px;
	display: none;
}
#settings ul {
	float:  left;
	width:  200px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#settings h2 {
	display: none;
	float:  left;
	width:  200px;
}
#settings .info	{
	display: none;
}